http:
  routers:
    <name>:
      rule: "Host(`<name>.internal.speziato.dev`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: <name>
      # middlewares:
      #   - ldap@file
  services:
    <name>:
      loadBalancer:
        servers:
          - url: "<url>"
