http_address="0.0.0.0:4180"
provider="oidc"
email_domains=["*"]
oidc_issuer_url="https://login.internal.speziato.dev"
client_id="oauth2-proxy"
skip_oidc_discovery="true"
login_url="https://login.internal.speziato.dev/auth"
oidc_jwks_url="https://login.internal.speziato.dev/keys"
redeem_url="https://login.internal.speziato.dev/token"
redirect_url="https://oauth2-proxy.internal.speziato.dev/oauth2/callback"
insecure_oidc_allow_unverified_email="true"
approval_prompt="none"
set_xauthrequest="true"
allowed_groups="lldap_admin"
pass_access_token="true"
pass_user_headers="true"
pass_authorization_header="true"
cookie_secure="true"
cookie_domains=".internal.speziato.dev" # Required so cookie can be read on all subdomains.
whitelist_domains=".internal.speziato.dev" # Required to allow redirection back to original requested target.

# Mandatory option when using oauth2-proxy with traefik
reverse_proxy="true"
# Required for traefik with ForwardAuth and static upstream configuration
upstreams="static://202"
# The following option skip the page requesting the user
# to click on a button to be redirected to the identity provider
# It can be activated only when traefik is not configure with
# the error redirection middleware as this example.
skip_provider_button="true"