config:
  acme.agree_tos: "true"
  core.https_address: 0.0.0.0:8443
  images.auto_update_cached: "false"
  images.auto_update_interval: "0"
  user.ui.title: "{{ incus.ui_title }}"
networks:
- config:
    dns.domain: "{{ incus.internal_dns_domain }}"
    ipv4.address: "{{ incus.network_cidr }}"
    ipv4.nat: "true"
    ipv6.address: none
  description: ""
  name: "{{ incus.bridge_name }}"
  type: bridge
  project: default
storage_pools:
- config:
    source: {{ incus.storage_pool }}
  description: ""
  name: default
  driver: dir
profiles:
- config:
    cloud-init.vendor-data: |
      {{ incus.ci_vendor_data | indent(6) }}
    limits.cpu: "2"
    limits.memory: 4GiB
  description: Default Incus profile
  devices:
    eth0:
      network: {{ incus.bridge_name }}
      type: nic
    root:
      path: /
      pool: default
      size: 20GiB
      type: disk
  name: default
projects:
- config:
    features.images: "true"
    features.networks: "true"
    features.networks.zones: "true"
    features.profiles: "true"
    features.storage.buckets: "true"
    features.storage.volumes: "true"
  description: Default Incus project
  name: default